In [4]:
import pandas as pd
col_names=['sl_no','age','gender','role','id']
data=pd.read_table("/home/ila/PycharmProjects/pythonworks/artificialintelligence/pandas/files/ex.txt",sep="|",names=col_names)#not sure ahy header=0 is used

/home/ila/anaconda3/envs/featurebranch/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: read_table is deprecated, use read_csv instead.
  This is separate from the ipykernel package so we can avoid doing imports until

In [5]:
data.head()

   sl_no  age gender        role     id
0      1   24      M  technician  85711
1      2   53      F       other  94043
2      3   23      M      writer  32067
3      4   24      M  technician  43537
4      5   33      F       other  15213

In [6]:
data[data.age>25]

     sl_no  age gender           role     id
1        2   53      F          other  94043
4        5   33      F          other  15213
5        6   42      M      executive  98101
6        7   57      M  administrator  91344
7        8   36      M  administrator  05201
8        9   29      M        student  01002
9       10   53      M         lawyer  90703
10      11   39      F          other  30329
11      12   28      F          other  06405
12      13   47      M       educator  29206
13      14   45      M      scientist  55106
14      15   49      F       educator  97301
16      17   30      M     programmer  06355
17      18   35      F          other  37212
18      19   40      M      librarian  02138
19      20   42      F      homemaker  95660
20      21   26      M         writer  30068
22      23   30      F         artist  48197
24      25   39      M       engineer  55107
25      26   49      M       engineer  21044
26      27   40      F      librarian  30030
27      28   32      M         writer  55369
28      29   41      M     programmer  94043
31      32   28      F        student  78741
33      34   38      F  administrator  42141
37      38   28      F          other  54467
38      39   41      M  entertainment  01040
39      40   38      M      scientist  27514
40      41   33      M       engineer  80525
41      42   30      M  administrator  17870
..     ...  ...    ...            ...    ...
901    902   45      F         artist  97203
902    903   28      M       educator  20850
904    905   27      M          other  30350
905    906   45      M      librarian  70124
907    908   44      F      librarian  68504
908    909   50      F       educator  53171
909    910   28      M     healthcare  29301
910    911   37      F         writer  53210
911    912   51      M          other  06512
912    913   27      M        student  76201
913    914   44      F          other  08105
914    915   50      M  entertainment  60614
915    916   27      M       engineer  N2L5N
917    918   40      M      scientist  70116
919    920   30      F         artist  90008
921    922   29      F  administrator  21114
923    924   29      M          other  11753
925    926   49      M  entertainment  01701
928    929   44      M      scientist  53711
929    930   28      F      scientist  07310
930    931   60      M       educator  33556
931    932   58      M       educator  06437
932    933   28      M        student  48105
933    934   61      M       engineer  22902
934    935   42      M         doctor  66221
936    937   48      M       educator  98072
937    938   38      F     technician  55038
938    939   26      F        student  33319
939    940   32      M  administrator  02215
941    942   48      F      librarian  78209

[671 rows x 5 columns]

In [7]:
data[(data.age>25) | (data.gender=='F')]#and,or will not work use &,|

     sl_no  age gender           role     id
1        2   53      F          other  94043
4        5   33      F          other  15213
5        6   42      M      executive  98101
6        7   57      M  administrator  91344
7        8   36      M  administrator  05201
8        9   29      M        student  01002
9       10   53      M         lawyer  90703
10      11   39      F          other  30329
11      12   28      F          other  06405
12      13   47      M       educator  29206
13      14   45      M      scientist  55106
14      15   49      F       educator  97301
16      17   30      M     programmer  06355
17      18   35      F          other  37212
18      19   40      M      librarian  02138
19      20   42      F      homemaker  95660
20      21   26      M         writer  30068
22      23   30      F         artist  48197
23      24   21      F         artist  94533
24      25   39      M       engineer  55107
25      26   49      M       engineer  21044
26      27   40      F      librarian  30030
27      28   32      M         writer  55369
28      29   41      M     programmer  94043
31      32   28      F        student  78741
33      34   38      F  administrator  42141
34      35   20      F      homemaker  42459
35      36   19      F        student  93117
37      38   28      F          other  54467
38      39   41      M  entertainment  01040
..     ...  ...    ...            ...    ...
906    907   25      F          other  80526
907    908   44      F      librarian  68504
908    909   50      F       educator  53171
909    910   28      M     healthcare  29301
910    911   37      F         writer  53210
911    912   51      M          other  06512
912    913   27      M        student  76201
913    914   44      F          other  08105
914    915   50      M  entertainment  60614
915    916   27      M       engineer  N2L5N
916    917   22      F        student  20006
917    918   40      M      scientist  70116
919    920   30      F         artist  90008
920    921   20      F        student  98801
921    922   29      F  administrator  21114
923    924   29      M          other  11753
924    925   18      F       salesman  49036
925    926   49      M  entertainment  01701
928    929   44      M      scientist  53711
929    930   28      F      scientist  07310
930    931   60      M       educator  33556
931    932   58      M       educator  06437
932    933   28      M        student  48105
933    934   61      M       engineer  22902
934    935   42      M         doctor  66221
936    937   48      M       educator  98072
937    938   38      F     technician  55038
938    939   26      F        student  33319
939    940   32      M  administrator  02215
941    942   48      F      librarian  78209

[747 rows x 5 columns]

In [8]:
(data.dtypes)

sl_no      int64
age        int64
gender    object
role      object
id        object
dtype: object

In [9]:
(data.age>25) & (data.role=='other')

0      False
1       True
2      False
3      False
4       True
5      False
6      False
7      False
8      False
9      False
10      True
11      True
12     False
13     False
14     False
15     False
16     False
17      True
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
913     True
914    False
915    False
916    False
917    False
918    False
919    False
920    False
921    False
922    False
923     True
924    False
925    False
926    False
927    False
928    False
929    False
930    False
931    False
932    False
933    False
934    False
935    False
936    False
937    False
938    False
939    False
940    False
941    False
942    False
Length: 943, dtype: bool

In [12]:
data.dtypes

sl_no      int64
age        int64
gender    object
role      object
id        object
dtype: object

In [15]:
data[data.role.isin(['oters','artist','administrator'])]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>sl_no</th>
      <th>age</th>
      <th>gender</th>
      <th>role</th>
      <th>id</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>57</td>
      <td>M</td>
      <td>administrator</td>
      <td>91344</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>36</td>
      <td>M</td>
      <td>administrator</td>
      <td>05201</td>
    </tr>
    <tr>
      <th>22</th>
      <td>23</td>
      <td>30</td>
      <td>F</td>
      <td>artist</td>
      <td>48197</td>
    </tr>
    <tr>
      <th>23</th>
      <td>24</td>
      <td>21</td>
      <td>F</td>
      <td>artist</td>
      <td>94533</td>
    </tr>
    <tr>
      <th>30</th>
      <td>31</td>
      <td>24</td>
      <td>M</td>
      <td>artist</td>
      <td>10003</td>
    </tr>
    <tr>
      <th>33</th>
      <td>34</td>
      <td>38</td>
      <td>F</td>
      <td>administrator</td>
      <td>42141</td>
    </tr>
    <tr>
      <th>41</th>
      <td>42</td>
      <td>30</td>
      <td>M</td>
      <td>administrator</td>
      <td>17870</td>
    </tr>
    <tr>
      <th>47</th>
      <td>48</td>
      <td>45</td>
      <td>M</td>
      <td>administrator</td>
      <td>12550</td>
    </tr>
    <tr>
      <th>61</th>
      <td>62</td>
      <td>27</td>
      <td>F</td>
      <td>administrator</td>
      <td>97214</td>
    </tr>
    <tr>
      <th>71</th>
      <td>72</td>
      <td>48</td>
      <td>F</td>
      <td>administrator</td>
      <td>73034</td>
    </tr>
    <tr>
      <th>77</th>
      <td>78</td>
      <td>26</td>
      <td>M</td>
      <td>administrator</td>
      <td>61801</td>
    </tr>
    <tr>
      <th>78</th>
      <td>79</td>
      <td>39</td>
      <td>F</td>
      <td>administrator</td>
      <td>03755</td>
    </tr>
    <tr>
      <th>79</th>
      <td>80</td>
      <td>34</td>
      <td>F</td>
      <td>administrator</td>
      <td>52241</td>
    </tr>
    <tr>
      <th>85</th>
      <td>86</td>
      <td>26</td>
      <td>M</td>
      <td>administrator</td>
      <td>46005</td>
    </tr>
    <tr>
      <th>86</th>
      <td>87</td>
      <td>47</td>
      <td>M</td>
      <td>administrator</td>
      <td>89503</td>
    </tr>
    <tr>
      <th>88</th>
      <td>89</td>
      <td>43</td>
      <td>F</td>
      <td>administrator</td>
      <td>68106</td>
    </tr>
    <tr>
      <th>94</th>
      <td>95</td>
      <td>31</td>
      <td>M</td>
      <td>administrator</td>
      <td>10707</td>
    </tr>
    <tr>
      <th>95</th>
      <td>96</td>
      <td>25</td>
      <td>F</td>
      <td>artist</td>
      <td>75206</td>
    </tr>
    <tr>
      <th>96</th>
      <td>97</td>
      <td>43</td>
      <td>M</td>
      <td>artist</td>
      <td>98006</td>
    </tr>
    <tr>
      <th>117</th>
      <td>118</td>
      <td>21</td>
      <td>M</td>
      <td>administrator</td>
      <td>90210</td>
    </tr>
    <tr>
      <th>122</th>
      <td>123</td>
      <td>48</td>
      <td>F</td>
      <td>artist</td>
      <td>20008</td>
    </tr>
    <tr>
      <th>130</th>
      <td>131</td>
      <td>59</td>
      <td>F</td>
      <td>administrator</td>
      <td>15237</td>
    </tr>
    <tr>
      <th>145</th>
      <td>146</td>
      <td>45</td>
      <td>M</td>
      <td>artist</td>
      <td>83814</td>
    </tr>
    <tr>
      <th>149</th>
      <td>150</td>
      <td>20</td>
      <td>F</td>
      <td>artist</td>
      <td>02139</td>
    </tr>
    <tr>
      <th>150</th>
      <td>151</td>
      <td>38</td>
      <td>F</td>
      <td>administrator</td>
      <td>48103</td>
    </tr>
    <tr>
      <th>161</th>
      <td>162</td>
      <td>25</td>
      <td>M</td>
      <td>artist</td>
      <td>15610</td>
    </tr>
    <tr>
      <th>162</th>
      <td>163</td>
      <td>49</td>
      <td>M</td>
      <td>administrator</td>
      <td>97212</td>
    </tr>
    <tr>
      <th>173</th>
      <td>174</td>
      <td>30</td>
      <td>F</td>
      <td>administrator</td>
      <td>52302</td>
    </tr>
    <tr>
      <th>179</th>
      <td>180</td>
      <td>22</td>
      <td>F</td>
      <td>administrator</td>
      <td>60202</td>
    </tr>
    <tr>
      <th>188</th>
      <td>189</td>
      <td>32</td>
      <td>M</td>
      <td>artist</td>
      <td>95014</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>687</th>
      <td>688</td>
      <td>37</td>
      <td>F</td>
      <td>administrator</td>
      <td>60476</td>
    </tr>
    <tr>
      <th>715</th>
      <td>716</td>
      <td>36</td>
      <td>F</td>
      <td>administrator</td>
      <td>44265</td>
    </tr>
    <tr>
      <th>719</th>
      <td>720</td>
      <td>49</td>
      <td>F</td>
      <td>administrator</td>
      <td>16506</td>
    </tr>
    <tr>
      <th>725</th>
      <td>726</td>
      <td>25</td>
      <td>F</td>
      <td>administrator</td>
      <td>80538</td>
    </tr>
    <tr>
      <th>747</th>
      <td>748</td>
      <td>28</td>
      <td>M</td>
      <td>administrator</td>
      <td>94720</td>
    </tr>
    <tr>
      <th>749</th>
      <td>750</td>
      <td>28</td>
      <td>M</td>
      <td>administrator</td>
      <td>32303</td>
    </tr>
    <tr>
      <th>761</th>
      <td>762</td>
      <td>32</td>
      <td>M</td>
      <td>administrator</td>
      <td>95050</td>
    </tr>
    <tr>
      <th>767</th>
      <td>768</td>
      <td>29</td>
      <td>M</td>
      <td>administrator</td>
      <td>12866</td>
    </tr>
    <tr>
      <th>781</th>
      <td>782</td>
      <td>21</td>
      <td>F</td>
      <td>artist</td>
      <td>33205</td>
    </tr>
    <tr>
      <th>783</th>
      <td>784</td>
      <td>47</td>
      <td>M</td>
      <td>administrator</td>
      <td>91040</td>
    </tr>
    <tr>
      <th>787</th>
      <td>788</td>
      <td>51</td>
      <td>M</td>
      <td>administrator</td>
      <td>05779</td>
    </tr>
    <tr>
      <th>798</th>
      <td>799</td>
      <td>49</td>
      <td>F</td>
      <td>administrator</td>
      <td>19716</td>
    </tr>
    <tr>
      <th>801</th>
      <td>802</td>
      <td>35</td>
      <td>M</td>
      <td>administrator</td>
      <td>34105</td>
    </tr>
    <tr>
      <th>802</th>
      <td>803</td>
      <td>70</td>
      <td>M</td>
      <td>administrator</td>
      <td>78212</td>
    </tr>
    <tr>
      <th>818</th>
      <td>819</td>
      <td>59</td>
      <td>M</td>
      <td>administrator</td>
      <td>40205</td>
    </tr>
    <tr>
      <th>822</th>
      <td>823</td>
      <td>27</td>
      <td>M</td>
      <td>artist</td>
      <td>50322</td>
    </tr>
    <tr>
      <th>825</th>
      <td>826</td>
      <td>28</td>
      <td>M</td>
      <td>artist</td>
      <td>77048</td>
    </tr>
    <tr>
      <th>835</th>
      <td>836</td>
      <td>44</td>
      <td>M</td>
      <td>artist</td>
      <td>10018</td>
    </tr>
    <tr>
      <th>836</th>
      <td>837</td>
      <td>36</td>
      <td>F</td>
      <td>artist</td>
      <td>55409</td>
    </tr>
    <tr>
      <th>839</th>
      <td>840</td>
      <td>39</td>
      <td>M</td>
      <td>artist</td>
      <td>55406</td>
    </tr>
    <tr>
      <th>851</th>
      <td>852</td>
      <td>46</td>
      <td>M</td>
      <td>administrator</td>
      <td>94086</td>
    </tr>
    <tr>
      <th>856</th>
      <td>857</td>
      <td>35</td>
      <td>F</td>
      <td>administrator</td>
      <td>V1G4L</td>
    </tr>
    <tr>
      <th>864</th>
      <td>865</td>
      <td>25</td>
      <td>M</td>
      <td>artist</td>
      <td>11231</td>
    </tr>
    <tr>
      <th>872</th>
      <td>873</td>
      <td>48</td>
      <td>F</td>
      <td>administrator</td>
      <td>33763</td>
    </tr>
    <tr>
      <th>878</th>
      <td>879</td>
      <td>33</td>
      <td>F</td>
      <td>administrator</td>
      <td>55337</td>
    </tr>
    <tr>
      <th>890</th>
      <td>891</td>
      <td>51</td>
      <td>F</td>
      <td>administrator</td>
      <td>03062</td>
    </tr>
    <tr>
      <th>901</th>
      <td>902</td>
      <td>45</td>
      <td>F</td>
      <td>artist</td>
      <td>97203</td>
    </tr>
    <tr>
      <th>919</th>
      <td>920</td>
      <td>30</td>
      <td>F</td>
      <td>artist</td>
      <td>90008</td>
    </tr>
    <tr>
      <th>921</th>
      <td>922</td>
      <td>29</td>
      <td>F</td>
      <td>administrator</td>
      <td>21114</td>
    </tr>
    <tr>
      <th>939</th>
      <td>940</td>
      <td>32</td>
      <td>M</td>
      <td>administrator</td>
      <td>02215</td>
    </tr>
  </tbody>
</table>
<p>107 rows × 5 columns</p>
</div>

In [12]:
data[(data.role.isin(['oters','artist','administrator'])) & (data.gender=='M')]

     sl_no  age gender           role     id
6        7   57      M  administrator  91344
7        8   36      M  administrator  05201
30      31   24      M         artist  10003
41      42   30      M  administrator  17870
47      48   45      M  administrator  12550
77      78   26      M  administrator  61801
85      86   26      M  administrator  46005
86      87   47      M  administrator  89503
94      95   31      M  administrator  10707
96      97   43      M         artist  98006
117    118   21      M  administrator  90210
145    146   45      M         artist  83814
161    162   25      M         artist  15610
162    163   49      M  administrator  97212
188    189   32      M         artist  95014
189    190   30      M  administrator  95938
190    191   33      M  administrator  95161
193    194   38      M  administrator  02154
217    218   37      M  administrator  06513
236    237   49      M  administrator  63146
238    239   39      M         artist  95628
260    261   28      M  administrator  85202
281    282   22      M  administrator  20057
316    317   22      M  administrator  13210
325    326   41      M  administrator  15235
327    328   51      M  administrator  06779
380    381   33      M         artist  94608
382    383   42      M  administrator  75204
393    394   25      M  administrator  96819
408    409   48      M  administrator  98225
432    433   27      M         artist  11211
446    447   30      M  administrator  55113
451    452   35      M  administrator  28018
454    455   48      M  administrator  83709
499    500   28      M  administrator  94305
508    509   23      M  administrator  10011
512    513   43      M  administrator  26241
570    571   34      M         artist  01945
577    578   31      M  administrator  M7A1A
595    596   20      M         artist  77073
664    665   25      M  administrator  55412
665    666   44      M  administrator  61820
747    748   28      M  administrator  94720
749    750   28      M  administrator  32303
761    762   32      M  administrator  95050
767    768   29      M  administrator  12866
783    784   47      M  administrator  91040
787    788   51      M  administrator  05779
801    802   35      M  administrator  34105
802    803   70      M  administrator  78212
818    819   59      M  administrator  40205
822    823   27      M         artist  50322
825    826   28      M         artist  77048
835    836   44      M         artist  10018
839    840   39      M         artist  55406
851    852   46      M  administrator  94086
864    865   25      M         artist  11231
939    940   32      M  administrator  02215