In [1]:
import pandas as pd
data=pd.read_csv('/home/ila/PycharmProjects/pythonworks/artificialintelligence/pandas/files/missingvalues.txt')
data.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [2]:
data.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [3]:
data.columns=data.columns.str.replace(" ","")
data.columns

Index(['City', 'ColorsReported', 'ShapeReported', 'State', 'Time'], dtype='object')

In [4]:
data.isnull().head()

    City  ColorsReported  ShapeReported  State   Time
0  False            True          False  False  False
1  False            True          False  False  False
2  False            True          False  False  False
3  False            True          False  False  False
4  False            True          False  False  False

In [5]:
data.isnull().sum()

City                 25
ColorsReported    15359
ShapeReported      2644
State                 0
Time                  0
dtype: int64

In [10]:
data.isnull().sum(axis=1).head()

0    1
1    1
2    1
3    1
4    1
dtype: int64

In [8]:
data.isnull().sum(axis=0).head()

City                 25
ColorsReported    15359
ShapeReported      2644
State                 0
Time                  0
dtype: int64

In [11]:
new=pd.Series([True,True,False,True])

In [12]:
new

0     True
1     True
2    False
3     True
dtype: bool

In [17]:
new.sum()

3

#### drop a row if any of its avlue is missing

In [18]:
data.dropna(how='any').shape

(2486, 5)

In [23]:
data.shape

(18241, 5)

#### drop if all values of a row is missing

In [20]:
data.dropna(how='all').shape

(18241, 5)

In [21]:
data.dropna(subset=['ColorsReported', 'ShapeReported'], how='all').shape

(15989, 5)

In [25]:
data.ShapeReported.value_counts(dropna=False)

LIGHT        2803
NaN          2644
DISK         2122
TRIANGLE     1889
OTHER        1402
CIRCLE       1365
SPHERE       1054
FIREBALL     1039
OVAL          845
CIGAR         617
FORMATION     434
VARIOUS       333
RECTANGLE     303
CYLINDER      294
CHEVRON       248
DIAMOND       234
EGG           197
FLASH         188
TEARDROP      119
CONE           60
CROSS          36
DELTA           7
CRESCENT        2
ROUND           2
HEXAGON         1
PYRAMID         1
FLARE           1
DOME            1
Name: ShapeReported, dtype: int64

In [36]:
data.ShapeReported.fillna(value='ila', inplace=True)

In [37]:
data.fillna(value='ila', inplace=True)

In [34]:
data.ShapeReported.value_counts(dropna=False)

LIGHT        2803
ila          2644
DISK         2122
TRIANGLE     1889
OTHER        1402
CIRCLE       1365
SPHERE       1054
FIREBALL     1039
OVAL          845
CIGAR         617
FORMATION     434
VARIOUS       333
RECTANGLE     303
CYLINDER      294
CHEVRON       248
DIAMOND       234
EGG           197
FLASH         188
TEARDROP      119
CONE           60
CROSS          36
DELTA           7
CRESCENT        2
ROUND           2
FLARE           1
DOME            1
PYRAMID         1
HEXAGON         1
Name: ShapeReported, dtype: int64