In [8]:
import pandas as pd

In [10]:
df = pd.read_csv("../files/sq_price.csv")
df.head()

   sq.feet   price
0      100  150000
1      200  300056
2      300  450000
3      400  609546
4      500  750000