In [1]:
import pandas as pd

In [3]:
my_sheet = 'Sheet1'
file_name = '/home/ila/Desktop/cache/2.0.18/results/10_9_19_all_fields_train_spacy_format_with_nearest_aslinesaugmented_all_edited_2.0.18_50.xlsx' # name of your excel file
df = pd.read_excel(file_name)
df.head() # shows headers with top 5 rows

,patient_tag_name,patient_tag_name.1,patient_name_in_document,patient_name_in_document.1,patient_dob_tag,patient_dob_tag.1,patient_dob,patient_dob.1,patient_ssn_tag,patient_ssn_tag.1,...,patient_mrn,patient_mrn.1,patient_npi_tag,patient_npi_tag.1,patient_npi,patient_npi.1,patient_id_tag,patient_id_tag.1,patient_id,patient_id.1
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Aetna Claim cb-16-508w.pdf,NaN,Karin T. Briganti,karin t. briganti,Patient's birthdate,patient's birthdate,36139,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Patient ID,patient's,8651652566,8651652566
2,SKM_C454e19032114320.pdf,NaN,NaN,NaN,Patient Birth Date,birthdate,10/28/1936,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SKM_C454e19032114320.pdf,NaN,NaN,NaN,Date of Birth,NaN,10/22/1966,10/227,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Patient ID,patient id,888888888,NaN
4,SKM_C454e19032114320.pdf,NaN,NaN,NaN,Date of Birth,NaN,04/29/1997,04/29/1997,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Patient ID,patient id,7984,7984