In [2]:
import pandas as pd
# Zip Code	Total Population	Median Age	Total Males	Total Females	Total Households	Average Household Size
data=pd.read_csv("/home/ila/PycharmProjects/pythonworks/artificialintelligence/pandas/files/2010_Census_Populations_by_Zip_Code.csv")
data.head()

,Zip Code,Total Population,Median Age,Total Males,Total Females,Total Households,Average Household Size
0,91371,1,73.5,0,1,1,1.00
1,90001,57110,26.6,28468,28642,12971,4.40
2,90002,51223,25.5,24876,26347,11731,4.36
3,90003,66266,26.3,32631,33635,15642,4.22
4,90004,62180,34.8,31302,30878,22547,2.73

In [3]:
data["Zip Code"]+data["Total Population"]

0       91372
1      147111
2      141225
3      156269
4      152184
5      127686
6      149191
7      130927
8      122335
9       93810
10     193903
11     121115
12     101785
13      97019
14     109001
15     137612
16     113785
17     139328
18     154477
19     128987
20      93972
21     157201
22     135926
23     137476
24     132172
25     157895
26     135178
27     118742
28     128646
29     129347
        ...
289    122646
290    144536
291    122125
292    125026
293    109134
294     98592
295     97291
296    128354
297     96436
298    144600
299     95071
300    147429
301     98302
302     94942
303     97428
304    101503
305     96597
306     96464
307    132875
308    165581
309    164454
310    106576
311     94803
312    168479
313    144349
314    131710
315     95691
316    112470
317     93951
318    100876
Length: 319, dtype: int64

In [6]:
data['ziopulation'] = data['Median Age']+data['Total Population']
data['ziopulation'].apply(int)#roundoff

0          74
1       57136
2       51248
3       66292
4       62214
5       37714
6       59217
7       40944
8       32366
9        3837
10     103918
11      31139
12      11816
13       7049
14      19017
15      47629
16      23797
17      49343
18      64493
19      39001
20       3995
21      67208
22      45931
23      47475
24      42181
25      67903
26      45189
27      28748
28      38651
29      39349
        ...
289     30889
290     52774
291     30361
292     32750
293     16800
294      6261
295      4938
296     35571
297      3651
298     51803
299      2060
300     54405
301      5121
302      1739
303      4214
304      8038
305      3101
306      2973
307     39372
308     72074
309     70952
310     13065
311      1311
312     74956
313     50835
314     38186
315      2181
316     18942
317       432
318      7315
Name: ziopulation, Length: 319, dtype: int64