In [1]:
import pandas as pd
col_names=['sl_no','age','gender','role','id']
data=pd.read_table("G:\workspace\pythontutorial\io_files//ex.txt",sep="|",names=col_names)#not sure ahy header=0 is used

In [2]:
data.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>sl_no</th>
      <th>age</th>
      <th>gender</th>
      <th>role</th>
      <th>id</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>24</td>
      <td>M</td>
      <td>technician</td>
      <td>85711</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>53</td>
      <td>F</td>
      <td>other</td>
      <td>94043</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>23</td>
      <td>M</td>
      <td>writer</td>
      <td>32067</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>24</td>
      <td>M</td>
      <td>technician</td>
      <td>43537</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>33</td>
      <td>F</td>
      <td>other</td>
      <td>15213</td>
    </tr>
  </tbody>
</table>
</div>

In [3]:
data[data.age>25]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>sl_no</th>
      <th>age</th>
      <th>gender</th>
      <th>role</th>
      <th>id</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>53</td>
      <td>F</td>
      <td>other</td>
      <td>94043</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>33</td>
      <td>F</td>
      <td>other</td>
      <td>15213</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>42</td>
      <td>M</td>
      <td>executive</td>
      <td>98101</td>
    </tr>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>57</td>
      <td>M</td>
      <td>administrator</td>
      <td>91344</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>36</td>
      <td>M</td>
      <td>administrator</td>
      <td>05201</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>29</td>
      <td>M</td>
      <td>student</td>
      <td>01002</td>
    </tr>
    <tr>
      <th>9</th>
      <td>10</td>
      <td>53</td>
      <td>M</td>
      <td>lawyer</td>
      <td>90703</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>39</td>
      <td>F</td>
      <td>other</td>
      <td>30329</td>
    </tr>
    <tr>
      <th>11</th>
      <td>12</td>
      <td>28</td>
      <td>F</td>
      <td>other</td>
      <td>06405</td>
    </tr>
    <tr>
      <th>12</th>
      <td>13</td>
      <td>47</td>
      <td>M</td>
      <td>educator</td>
      <td>29206</td>
    </tr>
    <tr>
      <th>13</th>
      <td>14</td>
      <td>45</td>
      <td>M</td>
      <td>scientist</td>
      <td>55106</td>
    </tr>
    <tr>
      <th>14</th>
      <td>15</td>
      <td>49</td>
      <td>F</td>
      <td>educator</td>
      <td>97301</td>
    </tr>
    <tr>
      <th>16</th>
      <td>17</td>
      <td>30</td>
      <td>M</td>
      <td>programmer</td>
      <td>06355</td>
    </tr>
    <tr>
      <th>17</th>
      <td>18</td>
      <td>35</td>
      <td>F</td>
      <td>other</td>
      <td>37212</td>
    </tr>
    <tr>
      <th>18</th>
      <td>19</td>
      <td>40</td>
      <td>M</td>
      <td>librarian</td>
      <td>02138</td>
    </tr>
    <tr>
      <th>19</th>
      <td>20</td>
      <td>42</td>
      <td>F</td>
      <td>homemaker</td>
      <td>95660</td>
    </tr>
    <tr>
      <th>20</th>
      <td>21</td>
      <td>26</td>
      <td>M</td>
      <td>writer</td>
      <td>30068</td>
    </tr>
    <tr>
      <th>22</th>
      <td>23</td>
      <td>30</td>
      <td>F</td>
      <td>artist</td>
      <td>48197</td>
    </tr>
    <tr>
      <th>24</th>
      <td>25</td>
      <td>39</td>
      <td>M</td>
      <td>engineer</td>
      <td>55107</td>
    </tr>
    <tr>
      <th>25</th>
      <td>26</td>
      <td>49</td>
      <td>M</td>
      <td>engineer</td>
      <td>21044</td>
    </tr>
    <tr>
      <th>26</th>
      <td>27</td>
      <td>40</td>
      <td>F</td>
      <td>librarian</td>
      <td>30030</td>
    </tr>
    <tr>
      <th>27</th>
      <td>28</td>
      <td>32</td>
      <td>M</td>
      <td>writer</td>
      <td>55369</td>
    </tr>
    <tr>
      <th>28</th>
      <td>29</td>
      <td>41</td>
      <td>M</td>
      <td>programmer</td>
      <td>94043</td>
    </tr>
    <tr>
      <th>31</th>
      <td>32</td>
      <td>28</td>
      <td>F</td>
      <td>student</td>
      <td>78741</td>
    </tr>
    <tr>
      <th>33</th>
      <td>34</td>
      <td>38</td>
      <td>F</td>
      <td>administrator</td>
      <td>42141</td>
    </tr>
    <tr>
      <th>37</th>
      <td>38</td>
      <td>28</td>
      <td>F</td>
      <td>other</td>
      <td>54467</td>
    </tr>
    <tr>
      <th>38</th>
      <td>39</td>
      <td>41</td>
      <td>M</td>
      <td>entertainment</td>
      <td>01040</td>
    </tr>
    <tr>
      <th>39</th>
      <td>40</td>
      <td>38</td>
      <td>M</td>
      <td>scientist</td>
      <td>27514</td>
    </tr>
    <tr>
      <th>40</th>
      <td>41</td>
      <td>33</td>
      <td>M</td>
      <td>engineer</td>
      <td>80525</td>
    </tr>
    <tr>
      <th>41</th>
      <td>42</td>
      <td>30</td>
      <td>M</td>
      <td>administrator</td>
      <td>17870</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>901</th>
      <td>902</td>
      <td>45</td>
      <td>F</td>
      <td>artist</td>
      <td>97203</td>
    </tr>
    <tr>
      <th>902</th>
      <td>903</td>
      <td>28</td>
      <td>M</td>
      <td>educator</td>
      <td>20850</td>
    </tr>
    <tr>
      <th>904</th>
      <td>905</td>
      <td>27</td>
      <td>M</td>
      <td>other</td>
      <td>30350</td>
    </tr>
    <tr>
      <th>905</th>
      <td>906</td>
      <td>45</td>
      <td>M</td>
      <td>librarian</td>
      <td>70124</td>
    </tr>
    <tr>
      <th>907</th>
      <td>908</td>
      <td>44</td>
      <td>F</td>
      <td>librarian</td>
      <td>68504</td>
    </tr>
    <tr>
      <th>908</th>
      <td>909</td>
      <td>50</td>
      <td>F</td>
      <td>educator</td>
      <td>53171</td>
    </tr>
    <tr>
      <th>909</th>
      <td>910</td>
      <td>28</td>
      <td>M</td>
      <td>healthcare</td>
      <td>29301</td>
    </tr>
    <tr>
      <th>910</th>
      <td>911</td>
      <td>37</td>
      <td>F</td>
      <td>writer</td>
      <td>53210</td>
    </tr>
    <tr>
      <th>911</th>
      <td>912</td>
      <td>51</td>
      <td>M</td>
      <td>other</td>
      <td>06512</td>
    </tr>
    <tr>
      <th>912</th>
      <td>913</td>
      <td>27</td>
      <td>M</td>
      <td>student</td>
      <td>76201</td>
    </tr>
    <tr>
      <th>913</th>
      <td>914</td>
      <td>44</td>
      <td>F</td>
      <td>other</td>
      <td>08105</td>
    </tr>
    <tr>
      <th>914</th>
      <td>915</td>
      <td>50</td>
      <td>M</td>
      <td>entertainment</td>
      <td>60614</td>
    </tr>
    <tr>
      <th>915</th>
      <td>916</td>
      <td>27</td>
      <td>M</td>
      <td>engineer</td>
      <td>N2L5N</td>
    </tr>
    <tr>
      <th>917</th>
      <td>918</td>
      <td>40</td>
      <td>M</td>
      <td>scientist</td>
      <td>70116</td>
    </tr>
    <tr>
      <th>919</th>
      <td>920</td>
      <td>30</td>
      <td>F</td>
      <td>artist</td>
      <td>90008</td>
    </tr>
    <tr>
      <th>921</th>
      <td>922</td>
      <td>29</td>
      <td>F</td>
      <td>administrator</td>
      <td>21114</td>
    </tr>
    <tr>
      <th>923</th>
      <td>924</td>
      <td>29</td>
      <td>M</td>
      <td>other</td>
      <td>11753</td>
    </tr>
    <tr>
      <th>925</th>
      <td>926</td>
      <td>49</td>
      <td>M</td>
      <td>entertainment</td>
      <td>01701</td>
    </tr>
    <tr>
      <th>928</th>
      <td>929</td>
      <td>44</td>
      <td>M</td>
      <td>scientist</td>
      <td>53711</td>
    </tr>
    <tr>
      <th>929</th>
      <td>930</td>
      <td>28</td>
      <td>F</td>
      <td>scientist</td>
      <td>07310</td>
    </tr>
    <tr>
      <th>930</th>
      <td>931</td>
      <td>60</td>
      <td>M</td>
      <td>educator</td>
      <td>33556</td>
    </tr>
    <tr>
      <th>931</th>
      <td>932</td>
      <td>58</td>
      <td>M</td>
      <td>educator</td>
      <td>06437</td>
    </tr>
    <tr>
      <th>932</th>
      <td>933</td>
      <td>28</td>
      <td>M</td>
      <td>student</td>
      <td>48105</td>
    </tr>
    <tr>
      <th>933</th>
      <td>934</td>
      <td>61</td>
      <td>M</td>
      <td>engineer</td>
      <td>22902</td>
    </tr>
    <tr>
      <th>934</th>
      <td>935</td>
      <td>42</td>
      <td>M</td>
      <td>doctor</td>
      <td>66221</td>
    </tr>
    <tr>
      <th>936</th>
      <td>937</td>
      <td>48</td>
      <td>M</td>
      <td>educator</td>
      <td>98072</td>
    </tr>
    <tr>
      <th>937</th>
      <td>938</td>
      <td>38</td>
      <td>F</td>
      <td>technician</td>
      <td>55038</td>
    </tr>
    <tr>
      <th>938</th>
      <td>939</td>
      <td>26</td>
      <td>F</td>
      <td>student</td>
      <td>33319</td>
    </tr>
    <tr>
      <th>939</th>
      <td>940</td>
      <td>32</td>
      <td>M</td>
      <td>administrator</td>
      <td>02215</td>
    </tr>
    <tr>
      <th>941</th>
      <td>942</td>
      <td>48</td>
      <td>F</td>
      <td>librarian</td>
      <td>78209</td>
    </tr>
  </tbody>
</table>
<p>671 rows × 5 columns</p>
</div>

In [8]:
data[(data.age>25) | (data.gender=='F')]#and,or will not work use &,|

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>sl_no</th>
      <th>age</th>
      <th>gender</th>
      <th>role</th>
      <th>id</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>53</td>
      <td>F</td>
      <td>other</td>
      <td>94043</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>33</td>
      <td>F</td>
      <td>other</td>
      <td>15213</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>39</td>
      <td>F</td>
      <td>other</td>
      <td>30329</td>
    </tr>
    <tr>
      <th>11</th>
      <td>12</td>
      <td>28</td>
      <td>F</td>
      <td>other</td>
      <td>06405</td>
    </tr>
    <tr>
      <th>14</th>
      <td>15</td>
      <td>49</td>
      <td>F</td>
      <td>educator</td>
      <td>97301</td>
    </tr>
    <tr>
      <th>17</th>
      <td>18</td>
      <td>35</td>
      <td>F</td>
      <td>other</td>
      <td>37212</td>
    </tr>
    <tr>
      <th>19</th>
      <td>20</td>
      <td>42</td>
      <td>F</td>
      <td>homemaker</td>
      <td>95660</td>
    </tr>
    <tr>
      <th>22</th>
      <td>23</td>
      <td>30</td>
      <td>F</td>
      <td>artist</td>
      <td>48197</td>
    </tr>
    <tr>
      <th>26</th>
      <td>27</td>
      <td>40</td>
      <td>F</td>
      <td>librarian</td>
      <td>30030</td>
    </tr>
    <tr>
      <th>31</th>
      <td>32</td>
      <td>28</td>
      <td>F</td>
      <td>student</td>
      <td>78741</td>
    </tr>
    <tr>
      <th>33</th>
      <td>34</td>
      <td>38</td>
      <td>F</td>
      <td>administrator</td>
      <td>42141</td>
    </tr>
    <tr>
      <th>37</th>
      <td>38</td>
      <td>28</td>
      <td>F</td>
      <td>other</td>
      <td>54467</td>
    </tr>
    <tr>
      <th>42</th>
      <td>43</td>
      <td>29</td>
      <td>F</td>
      <td>librarian</td>
      <td>20854</td>
    </tr>
    <tr>
      <th>45</th>
      <td>46</td>
      <td>27</td>
      <td>F</td>
      <td>marketing</td>
      <td>46538</td>
    </tr>
    <tr>
      <th>61</th>
      <td>62</td>
      <td>27</td>
      <td>F</td>
      <td>administrator</td>
      <td>97214</td>
    </tr>
    <tr>
      <th>64</th>
      <td>65</td>
      <td>51</td>
      <td>F</td>
      <td>educator</td>
      <td>48118</td>
    </tr>
    <tr>
      <th>71</th>
      <td>72</td>
      <td>48</td>
      <td>F</td>
      <td>administrator</td>
      <td>73034</td>
    </tr>
    <tr>
      <th>78</th>
      <td>79</td>
      <td>39</td>
      <td>F</td>
      <td>administrator</td>
      <td>03755</td>
    </tr>
    <tr>
      <th>79</th>
      <td>80</td>
      <td>34</td>
      <td>F</td>
      <td>administrator</td>
      <td>52241</td>
    </tr>
    <tr>
      <th>87</th>
      <td>88</td>
      <td>49</td>
      <td>F</td>
      <td>librarian</td>
      <td>11701</td>
    </tr>
    <tr>
      <th>88</th>
      <td>89</td>
      <td>43</td>
      <td>F</td>
      <td>administrator</td>
      <td>68106</td>
    </tr>
    <tr>
      <th>97</th>
      <td>98</td>
      <td>49</td>
      <td>F</td>
      <td>executive</td>
      <td>90291</td>
    </tr>
    <tr>
      <th>119</th>
      <td>120</td>
      <td>47</td>
      <td>F</td>
      <td>other</td>
      <td>06260</td>
    </tr>
    <tr>
      <th>121</th>
      <td>122</td>
      <td>32</td>
      <td>F</td>
      <td>writer</td>
      <td>22206</td>
    </tr>
    <tr>
      <th>122</th>
      <td>123</td>
      <td>48</td>
      <td>F</td>
      <td>artist</td>
      <td>20008</td>
    </tr>
    <tr>
      <th>125</th>
      <td>126</td>
      <td>28</td>
      <td>F</td>
      <td>lawyer</td>
      <td>20015</td>
    </tr>
    <tr>
      <th>128</th>
      <td>129</td>
      <td>36</td>
      <td>F</td>
      <td>marketing</td>
      <td>07039</td>
    </tr>
    <tr>
      <th>130</th>
      <td>131</td>
      <td>59</td>
      <td>F</td>
      <td>administrator</td>
      <td>15237</td>
    </tr>
    <tr>
      <th>139</th>
      <td>140</td>
      <td>30</td>
      <td>F</td>
      <td>student</td>
      <td>32250</td>
    </tr>
    <tr>
      <th>146</th>
      <td>147</td>
      <td>40</td>
      <td>F</td>
      <td>librarian</td>
      <td>02143</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>806</th>
      <td>807</td>
      <td>41</td>
      <td>F</td>
      <td>healthcare</td>
      <td>93555</td>
    </tr>
    <tr>
      <th>808</th>
      <td>809</td>
      <td>50</td>
      <td>F</td>
      <td>marketing</td>
      <td>30803</td>
    </tr>
    <tr>
      <th>809</th>
      <td>810</td>
      <td>55</td>
      <td>F</td>
      <td>other</td>
      <td>80526</td>
    </tr>
    <tr>
      <th>810</th>
      <td>811</td>
      <td>40</td>
      <td>F</td>
      <td>educator</td>
      <td>73013</td>
    </tr>
    <tr>
      <th>821</th>
      <td>822</td>
      <td>29</td>
      <td>F</td>
      <td>librarian</td>
      <td>53144</td>
    </tr>
    <tr>
      <th>834</th>
      <td>835</td>
      <td>44</td>
      <td>F</td>
      <td>executive</td>
      <td>11577</td>
    </tr>
    <tr>
      <th>836</th>
      <td>837</td>
      <td>36</td>
      <td>F</td>
      <td>artist</td>
      <td>55409</td>
    </tr>
    <tr>
      <th>838</th>
      <td>839</td>
      <td>38</td>
      <td>F</td>
      <td>entertainment</td>
      <td>90814</td>
    </tr>
    <tr>
      <th>853</th>
      <td>854</td>
      <td>29</td>
      <td>F</td>
      <td>student</td>
      <td>55408</td>
    </tr>
    <tr>
      <th>855</th>
      <td>856</td>
      <td>43</td>
      <td>F</td>
      <td>marketing</td>
      <td>97215</td>
    </tr>
    <tr>
      <th>856</th>
      <td>857</td>
      <td>35</td>
      <td>F</td>
      <td>administrator</td>
      <td>V1G4L</td>
    </tr>
    <tr>
      <th>859</th>
      <td>860</td>
      <td>70</td>
      <td>F</td>
      <td>retired</td>
      <td>48322</td>
    </tr>
    <tr>
      <th>860</th>
      <td>861</td>
      <td>38</td>
      <td>F</td>
      <td>student</td>
      <td>14085</td>
    </tr>
    <tr>
      <th>872</th>
      <td>873</td>
      <td>48</td>
      <td>F</td>
      <td>administrator</td>
      <td>33763</td>
    </tr>
    <tr>
      <th>877</th>
      <td>878</td>
      <td>50</td>
      <td>F</td>
      <td>educator</td>
      <td>98027</td>
    </tr>
    <tr>
      <th>878</th>
      <td>879</td>
      <td>33</td>
      <td>F</td>
      <td>administrator</td>
      <td>55337</td>
    </tr>
    <tr>
      <th>884</th>
      <td>885</td>
      <td>30</td>
      <td>F</td>
      <td>other</td>
      <td>95316</td>
    </tr>
    <tr>
      <th>890</th>
      <td>891</td>
      <td>51</td>
      <td>F</td>
      <td>administrator</td>
      <td>03062</td>
    </tr>
    <tr>
      <th>894</th>
      <td>895</td>
      <td>31</td>
      <td>F</td>
      <td>librarian</td>
      <td>32301</td>
    </tr>
    <tr>
      <th>901</th>
      <td>902</td>
      <td>45</td>
      <td>F</td>
      <td>artist</td>
      <td>97203</td>
    </tr>
    <tr>
      <th>907</th>
      <td>908</td>
      <td>44</td>
      <td>F</td>
      <td>librarian</td>
      <td>68504</td>
    </tr>
    <tr>
      <th>908</th>
      <td>909</td>
      <td>50</td>
      <td>F</td>
      <td>educator</td>
      <td>53171</td>
    </tr>
    <tr>
      <th>910</th>
      <td>911</td>
      <td>37</td>
      <td>F</td>
      <td>writer</td>
      <td>53210</td>
    </tr>
    <tr>
      <th>913</th>
      <td>914</td>
      <td>44</td>
      <td>F</td>
      <td>other</td>
      <td>08105</td>
    </tr>
    <tr>
      <th>919</th>
      <td>920</td>
      <td>30</td>
      <td>F</td>
      <td>artist</td>
      <td>90008</td>
    </tr>
    <tr>
      <th>921</th>
      <td>922</td>
      <td>29</td>
      <td>F</td>
      <td>administrator</td>
      <td>21114</td>
    </tr>
    <tr>
      <th>929</th>
      <td>930</td>
      <td>28</td>
      <td>F</td>
      <td>scientist</td>
      <td>07310</td>
    </tr>
    <tr>
      <th>937</th>
      <td>938</td>
      <td>38</td>
      <td>F</td>
      <td>technician</td>
      <td>55038</td>
    </tr>
    <tr>
      <th>938</th>
      <td>939</td>
      <td>26</td>
      <td>F</td>
      <td>student</td>
      <td>33319</td>
    </tr>
    <tr>
      <th>941</th>
      <td>942</td>
      <td>48</td>
      <td>F</td>
      <td>librarian</td>
      <td>78209</td>
    </tr>
  </tbody>
</table>
<p>197 rows × 5 columns</p>
</div>

In [9]:
(data.dtypes)

sl_no      int64
age        int64
gender    object
role      object
id        object
dtype: object

In [10]:
(data.age>25) & (data.role=='other')

0      False
1       True
2      False
3      False
4       True
5      False
6      False
7      False
8      False
9      False
10      True
11      True
12     False
13     False
14     False
15     False
16     False
17      True
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
913     True
914    False
915    False
916    False
917    False
918    False
919    False
920    False
921    False
922    False
923     True
924    False
925    False
926    False
927    False
928    False
929    False
930    False
931    False
932    False
933    False
934    False
935    False
936    False
937    False
938    False
939    False
940    False
941    False
942    False
Length: 943, dtype: bool

In [12]:
data.dtypes

sl_no      int64
age        int64
gender    object
role      object
id        object
dtype: object

In [15]:
data[data.role.isin(['oters','artist','administrator'])]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>sl_no</th>
      <th>age</th>
      <th>gender</th>
      <th>role</th>
      <th>id</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>57</td>
      <td>M</td>
      <td>administrator</td>
      <td>91344</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>36</td>
      <td>M</td>
      <td>administrator</td>
      <td>05201</td>
    </tr>
    <tr>
      <th>22</th>
      <td>23</td>
      <td>30</td>
      <td>F</td>
      <td>artist</td>
      <td>48197</td>
    </tr>
    <tr>
      <th>23</th>
      <td>24</td>
      <td>21</td>
      <td>F</td>
      <td>artist</td>
      <td>94533</td>
    </tr>
    <tr>
      <th>30</th>
      <td>31</td>
      <td>24</td>
      <td>M</td>
      <td>artist</td>
      <td>10003</td>
    </tr>
    <tr>
      <th>33</th>
      <td>34</td>
      <td>38</td>
      <td>F</td>
      <td>administrator</td>
      <td>42141</td>
    </tr>
    <tr>
      <th>41</th>
      <td>42</td>
      <td>30</td>
      <td>M</td>
      <td>administrator</td>
      <td>17870</td>
    </tr>
    <tr>
      <th>47</th>
      <td>48</td>
      <td>45</td>
      <td>M</td>
      <td>administrator</td>
      <td>12550</td>
    </tr>
    <tr>
      <th>61</th>
      <td>62</td>
      <td>27</td>
      <td>F</td>
      <td>administrator</td>
      <td>97214</td>
    </tr>
    <tr>
      <th>71</th>
      <td>72</td>
      <td>48</td>
      <td>F</td>
      <td>administrator</td>
      <td>73034</td>
    </tr>
    <tr>
      <th>77</th>
      <td>78</td>
      <td>26</td>
      <td>M</td>
      <td>administrator</td>
      <td>61801</td>
    </tr>
    <tr>
      <th>78</th>
      <td>79</td>
      <td>39</td>
      <td>F</td>
      <td>administrator</td>
      <td>03755</td>
    </tr>
    <tr>
      <th>79</th>
      <td>80</td>
      <td>34</td>
      <td>F</td>
      <td>administrator</td>
      <td>52241</td>
    </tr>
    <tr>
      <th>85</th>
      <td>86</td>
      <td>26</td>
      <td>M</td>
      <td>administrator</td>
      <td>46005</td>
    </tr>
    <tr>
      <th>86</th>
      <td>87</td>
      <td>47</td>
      <td>M</td>
      <td>administrator</td>
      <td>89503</td>
    </tr>
    <tr>
      <th>88</th>
      <td>89</td>
      <td>43</td>
      <td>F</td>
      <td>administrator</td>
      <td>68106</td>
    </tr>
    <tr>
      <th>94</th>
      <td>95</td>
      <td>31</td>
      <td>M</td>
      <td>administrator</td>
      <td>10707</td>
    </tr>
    <tr>
      <th>95</th>
      <td>96</td>
      <td>25</td>
      <td>F</td>
      <td>artist</td>
      <td>75206</td>
    </tr>
    <tr>
      <th>96</th>
      <td>97</td>
      <td>43</td>
      <td>M</td>
      <td>artist</td>
      <td>98006</td>
    </tr>
    <tr>
      <th>117</th>
      <td>118</td>
      <td>21</td>
      <td>M</td>
      <td>administrator</td>
      <td>90210</td>
    </tr>
    <tr>
      <th>122</th>
      <td>123</td>
      <td>48</td>
      <td>F</td>
      <td>artist</td>
      <td>20008</td>
    </tr>
    <tr>
      <th>130</th>
      <td>131</td>
      <td>59</td>
      <td>F</td>
      <td>administrator</td>
      <td>15237</td>
    </tr>
    <tr>
      <th>145</th>
      <td>146</td>
      <td>45</td>
      <td>M</td>
      <td>artist</td>
      <td>83814</td>
    </tr>
    <tr>
      <th>149</th>
      <td>150</td>
      <td>20</td>
      <td>F</td>
      <td>artist</td>
      <td>02139</td>
    </tr>
    <tr>
      <th>150</th>
      <td>151</td>
      <td>38</td>
      <td>F</td>
      <td>administrator</td>
      <td>48103</td>
    </tr>
    <tr>
      <th>161</th>
      <td>162</td>
      <td>25</td>
      <td>M</td>
      <td>artist</td>
      <td>15610</td>
    </tr>
    <tr>
      <th>162</th>
      <td>163</td>
      <td>49</td>
      <td>M</td>
      <td>administrator</td>
      <td>97212</td>
    </tr>
    <tr>
      <th>173</th>
      <td>174</td>
      <td>30</td>
      <td>F</td>
      <td>administrator</td>
      <td>52302</td>
    </tr>
    <tr>
      <th>179</th>
      <td>180</td>
      <td>22</td>
      <td>F</td>
      <td>administrator</td>
      <td>60202</td>
    </tr>
    <tr>
      <th>188</th>
      <td>189</td>
      <td>32</td>
      <td>M</td>
      <td>artist</td>
      <td>95014</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>687</th>
      <td>688</td>
      <td>37</td>
      <td>F</td>
      <td>administrator</td>
      <td>60476</td>
    </tr>
    <tr>
      <th>715</th>
      <td>716</td>
      <td>36</td>
      <td>F</td>
      <td>administrator</td>
      <td>44265</td>
    </tr>
    <tr>
      <th>719</th>
      <td>720</td>
      <td>49</td>
      <td>F</td>
      <td>administrator</td>
      <td>16506</td>
    </tr>
    <tr>
      <th>725</th>
      <td>726</td>
      <td>25</td>
      <td>F</td>
      <td>administrator</td>
      <td>80538</td>
    </tr>
    <tr>
      <th>747</th>
      <td>748</td>
      <td>28</td>
      <td>M</td>
      <td>administrator</td>
      <td>94720</td>
    </tr>
    <tr>
      <th>749</th>
      <td>750</td>
      <td>28</td>
      <td>M</td>
      <td>administrator</td>
      <td>32303</td>
    </tr>
    <tr>
      <th>761</th>
      <td>762</td>
      <td>32</td>
      <td>M</td>
      <td>administrator</td>
      <td>95050</td>
    </tr>
    <tr>
      <th>767</th>
      <td>768</td>
      <td>29</td>
      <td>M</td>
      <td>administrator</td>
      <td>12866</td>
    </tr>
    <tr>
      <th>781</th>
      <td>782</td>
      <td>21</td>
      <td>F</td>
      <td>artist</td>
      <td>33205</td>
    </tr>
    <tr>
      <th>783</th>
      <td>784</td>
      <td>47</td>
      <td>M</td>
      <td>administrator</td>
      <td>91040</td>
    </tr>
    <tr>
      <th>787</th>
      <td>788</td>
      <td>51</td>
      <td>M</td>
      <td>administrator</td>
      <td>05779</td>
    </tr>
    <tr>
      <th>798</th>
      <td>799</td>
      <td>49</td>
      <td>F</td>
      <td>administrator</td>
      <td>19716</td>
    </tr>
    <tr>
      <th>801</th>
      <td>802</td>
      <td>35</td>
      <td>M</td>
      <td>administrator</td>
      <td>34105</td>
    </tr>
    <tr>
      <th>802</th>
      <td>803</td>
      <td>70</td>
      <td>M</td>
      <td>administrator</td>
      <td>78212</td>
    </tr>
    <tr>
      <th>818</th>
      <td>819</td>
      <td>59</td>
      <td>M</td>
      <td>administrator</td>
      <td>40205</td>
    </tr>
    <tr>
      <th>822</th>
      <td>823</td>
      <td>27</td>
      <td>M</td>
      <td>artist</td>
      <td>50322</td>
    </tr>
    <tr>
      <th>825</th>
      <td>826</td>
      <td>28</td>
      <td>M</td>
      <td>artist</td>
      <td>77048</td>
    </tr>
    <tr>
      <th>835</th>
      <td>836</td>
      <td>44</td>
      <td>M</td>
      <td>artist</td>
      <td>10018</td>
    </tr>
    <tr>
      <th>836</th>
      <td>837</td>
      <td>36</td>
      <td>F</td>
      <td>artist</td>
      <td>55409</td>
    </tr>
    <tr>
      <th>839</th>
      <td>840</td>
      <td>39</td>
      <td>M</td>
      <td>artist</td>
      <td>55406</td>
    </tr>
    <tr>
      <th>851</th>
      <td>852</td>
      <td>46</td>
      <td>M</td>
      <td>administrator</td>
      <td>94086</td>
    </tr>
    <tr>
      <th>856</th>
      <td>857</td>
      <td>35</td>
      <td>F</td>
      <td>administrator</td>
      <td>V1G4L</td>
    </tr>
    <tr>
      <th>864</th>
      <td>865</td>
      <td>25</td>
      <td>M</td>
      <td>artist</td>
      <td>11231</td>
    </tr>
    <tr>
      <th>872</th>
      <td>873</td>
      <td>48</td>
      <td>F</td>
      <td>administrator</td>
      <td>33763</td>
    </tr>
    <tr>
      <th>878</th>
      <td>879</td>
      <td>33</td>
      <td>F</td>
      <td>administrator</td>
      <td>55337</td>
    </tr>
    <tr>
      <th>890</th>
      <td>891</td>
      <td>51</td>
      <td>F</td>
      <td>administrator</td>
      <td>03062</td>
    </tr>
    <tr>
      <th>901</th>
      <td>902</td>
      <td>45</td>
      <td>F</td>
      <td>artist</td>
      <td>97203</td>
    </tr>
    <tr>
      <th>919</th>
      <td>920</td>
      <td>30</td>
      <td>F</td>
      <td>artist</td>
      <td>90008</td>
    </tr>
    <tr>
      <th>921</th>
      <td>922</td>
      <td>29</td>
      <td>F</td>
      <td>administrator</td>
      <td>21114</td>
    </tr>
    <tr>
      <th>939</th>
      <td>940</td>
      <td>32</td>
      <td>M</td>
      <td>administrator</td>
      <td>02215</td>
    </tr>
  </tbody>
</table>
<p>107 rows × 5 columns</p>
</div>

In [16]:
data[(data.role.isin(['oters','artist','administrator'])) & (data.gender=='M')]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>sl_no</th>
      <th>age</th>
      <th>gender</th>
      <th>role</th>
      <th>id</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>57</td>
      <td>M</td>
      <td>administrator</td>
      <td>91344</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>36</td>
      <td>M</td>
      <td>administrator</td>
      <td>05201</td>
    </tr>
    <tr>
      <th>30</th>
      <td>31</td>
      <td>24</td>
      <td>M</td>
      <td>artist</td>
      <td>10003</td>
    </tr>
    <tr>
      <th>41</th>
      <td>42</td>
      <td>30</td>
      <td>M</td>
      <td>administrator</td>
      <td>17870</td>
    </tr>
    <tr>
      <th>47</th>
      <td>48</td>
      <td>45</td>
      <td>M</td>
      <td>administrator</td>
      <td>12550</td>
    </tr>
    <tr>
      <th>77</th>
      <td>78</td>
      <td>26</td>
      <td>M</td>
      <td>administrator</td>
      <td>61801</td>
    </tr>
    <tr>
      <th>85</th>
      <td>86</td>
      <td>26</td>
      <td>M</td>
      <td>administrator</td>
      <td>46005</td>
    </tr>
    <tr>
      <th>86</th>
      <td>87</td>
      <td>47</td>
      <td>M</td>
      <td>administrator</td>
      <td>89503</td>
    </tr>
    <tr>
      <th>94</th>
      <td>95</td>
      <td>31</td>
      <td>M</td>
      <td>administrator</td>
      <td>10707</td>
    </tr>
    <tr>
      <th>96</th>
      <td>97</td>
      <td>43</td>
      <td>M</td>
      <td>artist</td>
      <td>98006</td>
    </tr>
    <tr>
      <th>117</th>
      <td>118</td>
      <td>21</td>
      <td>M</td>
      <td>administrator</td>
      <td>90210</td>
    </tr>
    <tr>
      <th>145</th>
      <td>146</td>
      <td>45</td>
      <td>M</td>
      <td>artist</td>
      <td>83814</td>
    </tr>
    <tr>
      <th>161</th>
      <td>162</td>
      <td>25</td>
      <td>M</td>
      <td>artist</td>
      <td>15610</td>
    </tr>
    <tr>
      <th>162</th>
      <td>163</td>
      <td>49</td>
      <td>M</td>
      <td>administrator</td>
      <td>97212</td>
    </tr>
    <tr>
      <th>188</th>
      <td>189</td>
      <td>32</td>
      <td>M</td>
      <td>artist</td>
      <td>95014</td>
    </tr>
    <tr>
      <th>189</th>
      <td>190</td>
      <td>30</td>
      <td>M</td>
      <td>administrator</td>
      <td>95938</td>
    </tr>
    <tr>
      <th>190</th>
      <td>191</td>
      <td>33</td>
      <td>M</td>
      <td>administrator</td>
      <td>95161</td>
    </tr>
    <tr>
      <th>193</th>
      <td>194</td>
      <td>38</td>
      <td>M</td>
      <td>administrator</td>
      <td>02154</td>
    </tr>
    <tr>
      <th>217</th>
      <td>218</td>
      <td>37</td>
      <td>M</td>
      <td>administrator</td>
      <td>06513</td>
    </tr>
    <tr>
      <th>236</th>
      <td>237</td>
      <td>49</td>
      <td>M</td>
      <td>administrator</td>
      <td>63146</td>
    </tr>
    <tr>
      <th>238</th>
      <td>239</td>
      <td>39</td>
      <td>M</td>
      <td>artist</td>
      <td>95628</td>
    </tr>
    <tr>
      <th>260</th>
      <td>261</td>
      <td>28</td>
      <td>M</td>
      <td>administrator</td>
      <td>85202</td>
    </tr>
    <tr>
      <th>281</th>
      <td>282</td>
      <td>22</td>
      <td>M</td>
      <td>administrator</td>
      <td>20057</td>
    </tr>
    <tr>
      <th>316</th>
      <td>317</td>
      <td>22</td>
      <td>M</td>
      <td>administrator</td>
      <td>13210</td>
    </tr>
    <tr>
      <th>325</th>
      <td>326</td>
      <td>41</td>
      <td>M</td>
      <td>administrator</td>
      <td>15235</td>
    </tr>
    <tr>
      <th>327</th>
      <td>328</td>
      <td>51</td>
      <td>M</td>
      <td>administrator</td>
      <td>06779</td>
    </tr>
    <tr>
      <th>380</th>
      <td>381</td>
      <td>33</td>
      <td>M</td>
      <td>artist</td>
      <td>94608</td>
    </tr>
    <tr>
      <th>382</th>
      <td>383</td>
      <td>42</td>
      <td>M</td>
      <td>administrator</td>
      <td>75204</td>
    </tr>
    <tr>
      <th>393</th>
      <td>394</td>
      <td>25</td>
      <td>M</td>
      <td>administrator</td>
      <td>96819</td>
    </tr>
    <tr>
      <th>408</th>
      <td>409</td>
      <td>48</td>
      <td>M</td>
      <td>administrator</td>
      <td>98225</td>
    </tr>
    <tr>
      <th>432</th>
      <td>433</td>
      <td>27</td>
      <td>M</td>
      <td>artist</td>
      <td>11211</td>
    </tr>
    <tr>
      <th>446</th>
      <td>447</td>
      <td>30</td>
      <td>M</td>
      <td>administrator</td>
      <td>55113</td>
    </tr>
    <tr>
      <th>451</th>
      <td>452</td>
      <td>35</td>
      <td>M</td>
      <td>administrator</td>
      <td>28018</td>
    </tr>
    <tr>
      <th>454</th>
      <td>455</td>
      <td>48</td>
      <td>M</td>
      <td>administrator</td>
      <td>83709</td>
    </tr>
    <tr>
      <th>499</th>
      <td>500</td>
      <td>28</td>
      <td>M</td>
      <td>administrator</td>
      <td>94305</td>
    </tr>
    <tr>
      <th>508</th>
      <td>509</td>
      <td>23</td>
      <td>M</td>
      <td>administrator</td>
      <td>10011</td>
    </tr>
    <tr>
      <th>512</th>
      <td>513</td>
      <td>43</td>
      <td>M</td>
      <td>administrator</td>
      <td>26241</td>
    </tr>
    <tr>
      <th>570</th>
      <td>571</td>
      <td>34</td>
      <td>M</td>
      <td>artist</td>
      <td>01945</td>
    </tr>
    <tr>
      <th>577</th>
      <td>578</td>
      <td>31</td>
      <td>M</td>
      <td>administrator</td>
      <td>M7A1A</td>
    </tr>
    <tr>
      <th>595</th>
      <td>596</td>
      <td>20</td>
      <td>M</td>
      <td>artist</td>
      <td>77073</td>
    </tr>
    <tr>
      <th>664</th>
      <td>665</td>
      <td>25</td>
      <td>M</td>
      <td>administrator</td>
      <td>55412</td>
    </tr>
    <tr>
      <th>665</th>
      <td>666</td>
      <td>44</td>
      <td>M</td>
      <td>administrator</td>
      <td>61820</td>
    </tr>
    <tr>
      <th>747</th>
      <td>748</td>
      <td>28</td>
      <td>M</td>
      <td>administrator</td>
      <td>94720</td>
    </tr>
    <tr>
      <th>749</th>
      <td>750</td>
      <td>28</td>
      <td>M</td>
      <td>administrator</td>
      <td>32303</td>
    </tr>
    <tr>
      <th>761</th>
      <td>762</td>
      <td>32</td>
      <td>M</td>
      <td>administrator</td>
      <td>95050</td>
    </tr>
    <tr>
      <th>767</th>
      <td>768</td>
      <td>29</td>
      <td>M</td>
      <td>administrator</td>
      <td>12866</td>
    </tr>
    <tr>
      <th>783</th>
      <td>784</td>
      <td>47</td>
      <td>M</td>
      <td>administrator</td>
      <td>91040</td>
    </tr>
    <tr>
      <th>787</th>
      <td>788</td>
      <td>51</td>
      <td>M</td>
      <td>administrator</td>
      <td>05779</td>
    </tr>
    <tr>
      <th>801</th>
      <td>802</td>
      <td>35</td>
      <td>M</td>
      <td>administrator</td>
      <td>34105</td>
    </tr>
    <tr>
      <th>802</th>
      <td>803</td>
      <td>70</td>
      <td>M</td>
      <td>administrator</td>
      <td>78212</td>
    </tr>
    <tr>
      <th>818</th>
      <td>819</td>
      <td>59</td>
      <td>M</td>
      <td>administrator</td>
      <td>40205</td>
    </tr>
    <tr>
      <th>822</th>
      <td>823</td>
      <td>27</td>
      <td>M</td>
      <td>artist</td>
      <td>50322</td>
    </tr>
    <tr>
      <th>825</th>
      <td>826</td>
      <td>28</td>
      <td>M</td>
      <td>artist</td>
      <td>77048</td>
    </tr>
    <tr>
      <th>835</th>
      <td>836</td>
      <td>44</td>
      <td>M</td>
      <td>artist</td>
      <td>10018</td>
    </tr>
    <tr>
      <th>839</th>
      <td>840</td>
      <td>39</td>
      <td>M</td>
      <td>artist</td>
      <td>55406</td>
    </tr>
    <tr>
      <th>851</th>
      <td>852</td>
      <td>46</td>
      <td>M</td>
      <td>administrator</td>
      <td>94086</td>
    </tr>
    <tr>
      <th>864</th>
      <td>865</td>
      <td>25</td>
      <td>M</td>
      <td>artist</td>
      <td>11231</td>
    </tr>
    <tr>
      <th>939</th>
      <td>940</td>
      <td>32</td>
      <td>M</td>
      <td>administrator</td>
      <td>02215</td>
    </tr>
  </tbody>
</table>
</div>